<form #form="ngForm" (submit)="onSubmit(form)" autocomplete="off">
  <input type="hidden" name="id" [value]="coApiService.formData.id">

  <!--     <div class="form-group">
      <div class="input-group">
        <div class="input-group-prepend">
          <div class="input-group-text bg-white">
            <i class="fas fa-sign-in-alt" [class.green-icon]="login.valid" [class.red-icon]="login.invalid && login.touched"></i>
          </div>
        </div>
        <input name="login" #login="ngModel" [(ngModel)]="coApiService.formData.login" class="form-control"
          placeholder="Login" required>
      </div>
    </div> -->

  <!--     <div class="form-group">
      <div class="input-group">
        <div class="input-group-prepend">
          <div class="input-group-text bg-white">
            
            <i class="fas fa-key" [class.green-icon]="password.valid" [class.red-icon]="password.invalid && password.touched"></i>
          </div>
        </div>
        <input name="password" #password="ngModel" [(ngModel)]="coApiService.formData.password" 
        class="form-control" placeholder="Password" required maxlength="50" minlength="2">
      </div>
    </div> -->

  <div class="form-group">
    <div class="input-group">
      <div class="input-group-prepend">
        <div class="input-group-text bg-white">
          <i class="fas fa-user-circle" [class.green-icon]="firstName.valid"
            [class.red-icon]="firstName.invalid && firstName.touched"></i>
        </div>
      </div>
      <input name="firstName" #firstName="ngModel" [(ngModel)]="coApiService.formData.firstName" class="form-control"
        placeholder="FirstName" required maxlength="50" minlength="2">
    </div>
  </div>

  <div class="form-group">
    <div class="input-group">
      <div class="input-group-prepend">
        <div class="input-group-text bg-white">
          <i class="fas fa-user-circle" [class.green-icon]="lastName.valid"
            [class.red-icon]="lastName.invalid && lastName.touched"></i>
        </div>
      </div>
      <input name="lastName" #lastName="ngModel" [(ngModel)]="coApiService.formData.lastName" class="form-control"
        placeholder="LastName" required maxlength="50" minlength="2">
    </div>
  </div>


  <div class="form-group">
    <div class="input-group">
      <div class="input-group-prepend">
        <div class="input-group-text bg-white">
          <i class="fas fa-at" [class.green-icon]="email.valid" [class.red-icon]="email.invalid && email.touched"></i>
        </div>
      </div>
      <input name="email" #email="ngModel" [(ngModel)]="coApiService.formData.email" class="form-control"
        placeholder="Email" required maxlength="50" minlength="2">
    </div>
  </div>



  <div class="form-group">
    <div class="input-group">
      <div class="input-group-prepend">
        <div class="input-group-text bg-white">
          <i class="far fa-building" [class.green-icon]="company.valid"
            [class.red-icon]="company.invalid && company.touched"></i>
        </div>
      </div>
      <input name="company" #company="ngModel" [(ngModel)]="coApiService.formData.company" class="form-control"
        placeholder="Company" required maxlength="50" minlength="2">
    </div>
  </div>


  <div class="form-group">
    <div class="input-group">
      <div class="input-group-prepend">
        <div class="input-group-text bg-white">
          <i class="fas fa-users" [class.green-icon]="group.valid" [class.red-icon]="group.invalid && group.touched"></i>
        </div>
      </div>
      <select id="selecteur" name="group" #group="ngModel" [(ngModel)]="coApiService.formData.group" class="form-control" >
        <option value="" disabled selected hidden>Group</option>
        <option value="Internal" >Internal user</option>
        <option value="External">External user</option>
        
      </select>
    </div>
  </div>


  <div class="form-group">
    <button class="btn btn-success btn-lg btn-block" type="submit" [disabled]="form.invalid"><i
        class="fas fa-database"></i> sign up
    </button>
  </div>
</form>