<table class="table table-hover">

    <tr>
        <td>id</td>
        <td>login</td>
        <td>password</td>
        <td>email</td>
        <td>firstName</td>
        <td>lastName</td>
        <td>token</td>
    </tr>

    <tr *ngFor="let user of coApiService.list">
        <td (click)="populateForm(user)">{{user.id}}</td>
        <td (click)="populateForm(user)">{{user.login}}</td>
        <td (click)="populateForm(user)">{{user.password}}</td>
        <td (click)="populateForm(user)">{{user.email}}</td>
        <td (click)="populateForm(user)">{{user.firstName}}</td>
        <td (click)="populateForm(user)">{{user.lastName}}</td>
        <td (click)="populateForm(user)">{{user.token}}</td>
        <td> <i class="far fa-trash-alt fa-lg text-danger" (click)="onDelete(user.id)"></i> </td>
    </tr>
</table>

