<h1 class="display-4 text-center">“Nous préparons votre machine.”</h1>
<h1>“Pas de patience, pas de science.”</h1>
<h1 >“La patience adoucit tout mal sans remède.”</h1>

<!-- <div><span [innerHTML]="myName"></span> 
</div>


<div>
    <a class="btn btn-lg btn-primary btn-block"  (click) = "getPage()">GET PAGE</a>
</div>

<div *ngFor="let webPage of webPage | async">
    
        {{webPage | json}} 

</div> -->

<br>
<div>
    <a class="btn btn-lg btn-primary btn-block"  name="submit" [href]="skyTapUrl" target="_blank">Votre machine est prête</a>
</div>