<h1 class="display-4 text-center">“Nous préparons votre machine.”</h1>
<h1>“Pas de patience, pas de science.”</h1>
<h1>“La patience adoucit tout mal sans remède.”</h1>


<br>
<div *ngIf="show">
    <a class="btn btn-lg btn-primary btn-block" [href]="skyTapUrl" id="pret" name="pret" target="_blank">Votre machine
        est prête</a>
</div>
<div *ngIf="!show">
    <a class="btn btn-lg btn-primary btn-block" id="attente" name="attente" target="_blank">Patientez nous préparons
        votre machine ({{timeLeft}})</a>

</div>
<div>

</div>