<form #form="ngForm" (submit)="onSubmit(form)" autocomplete="off">


<!--
  <div class="form-group">
    <div class="input-group">
      <div class="input-group-prepend">
        <div class="input-group-text bg-white">
          <i class="fas fa-at" [class.green-icon]="email.valid" [class.red-icon]="email.invalid && email.touched"></i>
        </div>
      </div>
      <input name="email" #email="ngModel" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" [(ngModel)]="coApiService.formData.email" class="form-control"
        placeholder="Email" required maxlength="50" minlength="2">
    </div>
  </div>

   <div class="form-group">
    <div class="input-group">
      <div class="input-group-prepend">
        <div class="input-group-text bg-white">
          <i class="fas fa-key" [class.green-icon]="password.valid"
            [class.red-icon]="password.invalid && password.touched"></i>
        </div>
      </div>
      <input name="password" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" #password="ngModel"
        [(ngModel)]="coApiService.formData.password" class="form-control" placeholder="Password" required maxlength="50"
        minlength="8">
    </div>
  </div>

  <div class="form-group">
    <div class="input-group">
      <div class="input-group-prepend">
        <div class="input-group-text bg-white">
          <i class="fas fa-key" [class.green-icon]="password.valid"
            [class.red-icon]="password.invalid && password.touched"></i>
        </div>
      </div>
      <input name="confirmPassword" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" 
        required id="confirmPassword" class="form-control" placeholder="Password" required maxlength="50" minlength="8">     
    </div>
  </div> -->


  <div class="form-group" [class.has-error]="password.touched && password.invalid">
    <div class="input-group">
      <div class="input-group-prepend">
        <div class="input-group-text bg-white">
          <i class="fas fa-key" [class.green-icon]="password.valid"
            [class.red-icon]="password.invalid && password.touched"></i>
        </div>
      </div>
      <input id="password" required type="text" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" placeholder="Password" class="form-control" name="password"
        [(ngModel)]="coApiService.formData.password" #password="ngModel">
      <span class="help-block" *ngIf="password.touched && password.errors?.required">
        Votre mot de passe doit comporter au moins 8 caractères et au moins un chiffre et une lettre
      </span>
    </div>
  </div>

  <div class="form-group" [class.has-error]="confirmPassword.touched && confirmPassword.invalid">
    <div class="input-group">
      <div class="input-group-prepend">
        <div class="input-group-text bg-white">
          <i class="fas fa-key" [class.green-icon]="password.valid"
            [class.red-icon]="password.invalid && password.touched"></i>
        </div>
      </div>
      <input name="confirmPassword" appConfirmEqualValidator="password" required id="confirmPassword" type="text" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" placeholder="Confirm password"
        class="form-control" [(ngModel)]="coApiService.formData.confirmPassword" #confirmPassword="ngModel">
      <span class="help-block" *ngIf="confirmPassword.touched && confirmPassword.errors?.required">Confirm Password is
        required</span>
      <span class="help-block"
        *ngIf="confirmPassword.touched && confirmPassword.errors?.notEqual && !confirmPassword.errors?.required">
        Password and Confirm Password does not match
      </span>
    </div>
  </div>

  <div class="form-group">
    <div class="input-group">
      <div class="input-group-prepend">
        <div class="input-group-text bg-white">
          <i class="fas fa-user-circle" [class.green-icon]="firstName.valid"
            [class.red-icon]="firstName.invalid && firstName.touched"></i>
        </div>
      </div>
      <input name="firstName" #firstName="ngModel" [(ngModel)]="coApiService.formData.firstName" class="form-control"
        placeholder="FirstName" required maxlength="50" minlength="2">
    </div>
  </div>

  <div class="form-group">
    <div class="input-group">
      <div class="input-group-prepend">
        <div class="input-group-text bg-white">
          <i class="fas fa-user-circle" [class.green-icon]="lastName.valid"
            [class.red-icon]="lastName.invalid && lastName.touched"></i>
        </div>
      </div>
      <input name="lastName" #lastName="ngModel" [(ngModel)]="coApiService.formData.lastName" class="form-control"
        placeholder="LastName" required maxlength="50" minlength="2">
    </div>
  </div>
  <div class="form-group">

    <button class="btn btn-success btn-lg btn-block" type="submit" [disabled]="form.invalid"><i
        class="fas fa-database"></i> Create profil
    </button>
  </div>
</form>