
<form #form="ngForm" (submit)="onSubmit(form)" autocomplete="off">

    


    <div class="form-group">
      <div class="input-group">
        <div class="input-group-prepend">
          <div class="input-group-text bg-white">
            <i class="fas fa-sign-in-alt" [class.green-icon]="login.valid" [class.red-icon]="login.invalid && login.touched"></i>
          </div>
        </div>
        <input name="login" #login="ngModel" [(ngModel)]="coApiService.formDataPwd.login"  class="form-control"
          placeholder="Login" required>
      </div>
    </div>


    <div class="form-group">
      <div class="input-group">
        <div class="input-group-prepend">
          <div class="input-group-text bg-white">         
            <i class="fas fa-key" [class.green-icon]="password.valid" [class.red-icon]="password.invalid && password.touched"></i>
          </div>
        </div>
        <input name="password" #password="ngModel" [(ngModel)]="coApiService.formDataPwd.password" 
        class="form-control" placeholder="Password" required maxlength="50" minlength="2">
      </div>
    </div>

    <div class="form-group">
      <div class="input-group">
        <div class="input-group-prepend">
          <div class="input-group-text bg-white">         
            <i class="fas fa-key" [class.green-icon]="password.valid" [class.red-icon]="password.invalid && password.touched"></i>
          </div>
        </div>
        <input name="password"  
        class="form-control" placeholder="Confirm Password" required maxlength="50" minlength="2">
      </div>
    </div>

    
    <div class="form-group">
      
      <button class="btn btn-success btn-lg btn-block" type="submit" [disabled]="form.invalid"><i class="fas fa-database"></i> Change Password
      </button>
    </div>
  </form>