<form #form="ngForm" (submit)="onSubmit(form)" autocomplete="off">


  <div class="form-group" [class.has-error]="password.touched && password.invalid">
    <div class="input-group">
      <div class="input-group-prepend">
        <div class="input-group-text bg-white">
          <i class="fas fa-key" [class.green-icon]="password.valid"
            [class.red-icon]="password.invalid && password.touched"></i>
        </div>
      </div>
      <input id="password" required type="text" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" placeholder="Password"
        class="form-control" name="password" [(ngModel)]="coApiService.formData.password" #password="ngModel" type="password">
      <span class="help-block" *ngIf="password.touched && password.errors?.required"> Your password must be at least 8
        characters long and at least one number and one uppercase letter</span>
    </div>
  </div>

  <div class="form-group" [class.has-error]="confirmPassword.touched && confirmPassword.invalid">
    <div class="input-group">
      <div class="input-group-prepend">
        <div class="input-group-text bg-white">
          <i class="fas fa-key" [class.green-icon]="confirmPassword.valid"
            [class.red-icon]="confirmPassword.invalid && confirmPassword.touched"></i>
        </div>
      </div>
      <input name="confirmPassword" appConfirmEqualValidator="password" required id="confirmPassword" type="text"
        pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" placeholder="Confirm password" class="form-control"
        [(ngModel)]="coApiService.formData.confirmPassword" #confirmPassword="ngModel" type="password" >
      <div class="container">
        <span class="help-block" *ngIf="confirmPassword.touched && confirmPassword.errors?.required">Confirm Password is
          required</span>
        <span class="help-block"
          *ngIf="confirmPassword.touched && confirmPassword.errors?.notEqual && !confirmPassword.errors?.required">
          Password and Confirm Password does not match</span>
      </div>


    </div>
  </div>



  <div class="form-group">
    <button class="btn btn-success btn-lg btn-block" type="submit" [disabled]="form.invalid"><i
        class="fas fa-database"></i> Create password
    </button>
  </div>
</form>